"Snow Ticket Create Date","Ansible Ticket Process Date","Start Time","End Time","Account Name","Playbook Name","Ticket Number","Ticket Short Description","Catridge Form ID","Failed Automation Task","Processed Successfully","Host Name","Error Details"
